.fa-eye {
    margin-right: 1rem;
}

.table td,
.table th {
    text-align: center;
}

.ribbon_3 span {
    font-size: 9px;
}

.bar-line {
    width: 70px;
    height: 1px;
    margin: 0 10px;
}

input#date_start,
input#date_return {
    padding: 3px;
}

.error {
    color: red;
}

.comment {
    max-height: 450px;
    overflow: auto;
    margin-bottom: 20px;
}

.comments {
    overflow: auto;
    height: 400px;
}

.logout {
    cursor: pointer;
}

.btn-group {
    width: 100%;
}

.btn-group .dropdown-menu {
    right: -20px;
}

.notification-text {
    font-size: 12px;
}

ul.dropdown-menu.notification-data.show {
    overflow-x: auto;
    height: 250px;
}