.fa-eye {
    margin-right: 1rem;
}

.table td,
.table th {
    text-align: center;
}

.ribbon_3 span {
    font-size: 9px;
}

.bar-line {
    width: 70px;
    height: 1px;
    margin: 0 10px;
}

input#date_start,
input#date_return {
    padding: 3px;
}

.error {
    color: red;
}

.comment {
    max-height: 450px;
    overflow: auto;
    margin-bottom: 20px;
}

.comments {
    overflow: auto;
    height: 400px;
}

.logout {
    cursor: pointer;
}

.btn-group {
    width: 100%;
}

.btn-group .dropdown-menu {
    right: -20px;
}

.notification-text {
    font-size: 12px;
}

ul.dropdown-menu.notification-data.show {
    overflow-x: auto;
    height: 250px;
}

* {
    margin: 0;
    padding: 0;
}

.rate {
    height: 46px;
    padding: 0 10px;
    display: table;
}

.rate:not(:checked)>input {
    position: absolute;
    display: none;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 24px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '☺';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}